DATABASE_URL=

# Better Auth variáveis
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Criar primeiro usuário admin com ./db/seed.ts
SEED_ADMIN_NAME="Nome do usuário"
SEED_ADMIN_EMAIL="email.email@empresaoudominio.com"
SEED_ADMIN_PASSWORD="senha"
SEED_DEPARTMENT_NAME="Nome do primeiro departamento - ex:(DIRETORIA)"

# Resend - envio de e-mail
RESEND_API_KEY=
EMAIL_FROM="Direct Flow <nao-responda@seudominio.com>"
